In [42]:
import pandas as pd
from datetime import datetime

In [ ]:
pp=pd.read_csv("Outputs/Flight_History.csv",low_memory=False)

In [49]:
preethi=pd.DataFrame()

In [50]:
preethi=pp[['id','departure_airport_icao_code','arrival_airport_icao_code','scheduled_runway_departure','actual_runway_departure','scheduled_runway_arrival','actual_runway_arrival','scheduled_air_time']]
preethi=preethi.dropna()
preethi=preethi.reset_index()
preethi.drop(['index'], axis = 1, inplace = True)

In [51]:
preethi

,id,departure_airport_icao_code,arrival_airport_icao_code,scheduled_runway_departure,actual_runway_departure,scheduled_runway_arrival,actual_runway_arrival,scheduled_air_time
0,306354086,KMYR,KBWI,2013-08-18 21:33:00+00,2013-08-18 21:33:00+00,2013-08-18 22:37:00+00,2013-08-18 22:34:00+00,64.0
1,306268157,KRKD,KBOS,2013-08-17 10:40:00+00,2013-08-17 10:38:00+00,2013-08-17 11:39:00+00,2013-08-17 11:37:00+00,59.0
2,308325895,KLEB,KBOS,2013-09-07 21:15:00+00,2013-09-07 21:05:00+00,2013-09-07 21:56:00+00,2013-09-07 21:40:00+00,41.0
3,306126691,KEUG,KPDX,2013-08-16 12:22:00+00,2013-08-16 12:18:00+00,2013-08-16 12:45:00+00,2013-08-16 12:47:00+00,23.0
4,306228870,KEYW,KRSW,2013-08-17 14:10:00+00,2013-08-17 14:02:00+00,2013-08-17 15:00:00+00,2013-08-17 14:46:00+00,50.0
...,...,...,...,...,...,...,...,...
646707,308738047,KSFO,KIAH,2013-09-11 07:35:00+00,2013-09-11 07:41:00+00,2013-09-11 10:58:00+00,2013-09-11 10:54:00+00,203.0
646708,308710521,KLAS,KIAH,2013-09-11 07:43:00+00,2013-09-11 07:35:00+00,2013-09-11 10:11:00+00,2013-09-11 09:59:00+00,148.0
646709,308711065,KLAX,KIAH,2013-09-11 07:37:00+00,2013-09-11 07:58:00+00,2013-09-11 10:25:00+00,2013-09-11 10:44:00+00,168.0
646710,308710908,KLAX,KCLT,2013-09-11 07:43:00+00,2013-09-11 07:41:00+00,2013-09-11 12:01:00+00,2013-09-11 11:53:00+00,258.0
646711,308686277,KDEN,KCLT,2013-09-11 07:12:00+00,2013-09-11 07:05:00+00,2013-09-11 10:00:00+00,2013-09-11 09:36:00+00,168.0

In [52]:
preethi_love=['scheduled_runway_departure','actual_runway_departure','scheduled_runway_arrival','actual_runway_arrival']
for me in preethi_love:
    preethi_p=list(map(lambda x:datetime.fromisoformat(x),preethi[me].str[:19]))
    preethi[me]=preethi_p

In [53]:
preethi

,id,departure_airport_icao_code,arrival_airport_icao_code,scheduled_runway_departure,actual_runway_departure,scheduled_runway_arrival,actual_runway_arrival,scheduled_air_time
0,306354086,KMYR,KBWI,2013-08-18 21:33:00,2013-08-18 21:33:00,2013-08-18 22:37:00,2013-08-18 22:34:00,64.0
1,306268157,KRKD,KBOS,2013-08-17 10:40:00,2013-08-17 10:38:00,2013-08-17 11:39:00,2013-08-17 11:37:00,59.0
2,308325895,KLEB,KBOS,2013-09-07 21:15:00,2013-09-07 21:05:00,2013-09-07 21:56:00,2013-09-07 21:40:00,41.0
3,306126691,KEUG,KPDX,2013-08-16 12:22:00,2013-08-16 12:18:00,2013-08-16 12:45:00,2013-08-16 12:47:00,23.0
4,306228870,KEYW,KRSW,2013-08-17 14:10:00,2013-08-17 14:02:00,2013-08-17 15:00:00,2013-08-17 14:46:00,50.0
...,...,...,...,...,...,...,...,...
646707,308738047,KSFO,KIAH,2013-09-11 07:35:00,2013-09-11 07:41:00,2013-09-11 10:58:00,2013-09-11 10:54:00,203.0
646708,308710521,KLAS,KIAH,2013-09-11 07:43:00,2013-09-11 07:35:00,2013-09-11 10:11:00,2013-09-11 09:59:00,148.0
646709,308711065,KLAX,KIAH,2013-09-11 07:37:00,2013-09-11 07:58:00,2013-09-11 10:25:00,2013-09-11 10:44:00,168.0
646710,308710908,KLAX,KCLT,2013-09-11 07:43:00,2013-09-11 07:41:00,2013-09-11 12:01:00,2013-09-11 11:53:00,258.0
646711,308686277,KDEN,KCLT,2013-09-11 07:12:00,2013-09-11 07:05:00,2013-09-11 10:00:00,2013-09-11 09:36:00,168.0

In [54]:
preethi

,id,departure_airport_icao_code,arrival_airport_icao_code,scheduled_runway_departure,actual_runway_departure,scheduled_runway_arrival,actual_runway_arrival,scheduled_air_time
0,306354086,KMYR,KBWI,2013-08-18 21:33:00,2013-08-18 21:33:00,2013-08-18 22:37:00,2013-08-18 22:34:00,64.0
1,306268157,KRKD,KBOS,2013-08-17 10:40:00,2013-08-17 10:38:00,2013-08-17 11:39:00,2013-08-17 11:37:00,59.0
2,308325895,KLEB,KBOS,2013-09-07 21:15:00,2013-09-07 21:05:00,2013-09-07 21:56:00,2013-09-07 21:40:00,41.0
3,306126691,KEUG,KPDX,2013-08-16 12:22:00,2013-08-16 12:18:00,2013-08-16 12:45:00,2013-08-16 12:47:00,23.0
4,306228870,KEYW,KRSW,2013-08-17 14:10:00,2013-08-17 14:02:00,2013-08-17 15:00:00,2013-08-17 14:46:00,50.0
...,...,...,...,...,...,...,...,...
646707,308738047,KSFO,KIAH,2013-09-11 07:35:00,2013-09-11 07:41:00,2013-09-11 10:58:00,2013-09-11 10:54:00,203.0
646708,308710521,KLAS,KIAH,2013-09-11 07:43:00,2013-09-11 07:35:00,2013-09-11 10:11:00,2013-09-11 09:59:00,148.0
646709,308711065,KLAX,KIAH,2013-09-11 07:37:00,2013-09-11 07:58:00,2013-09-11 10:25:00,2013-09-11 10:44:00,168.0
646710,308710908,KLAX,KCLT,2013-09-11 07:43:00,2013-09-11 07:41:00,2013-09-11 12:01:00,2013-09-11 11:53:00,258.0
646711,308686277,KDEN,KCLT,2013-09-11 07:12:00,2013-09-11 07:05:00,2013-09-11 10:00:00,2013-09-11 09:36:00,168.0